spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: {GROUP_ID}
  shell:
    interactive:
      enabled: true
  application:
    name: SKILLBOX
  data:
    mongodb:
      uri: mongodb://localhost:27017/task-tracker
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true